.weather-module {
    border: 1px solid lightgrey;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-temp {
    display: flex;
    justify-content: flex-start;
}

.weather-cond {
    display: flex;
    justify-content: flex-end;
    padding-left: 15px;

}
.weather-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}